[submodule "Examples/3rd/SnapKit"]
	path = Examples/3rd/SnapKit
	url = https://github.com/SnapKit/SnapKit.git
[submodule "Examples/3rd/EFColorPicker"]
	path = Examples/3rd/EFColorPicker
	url = https://github.com/EFPrefix/EFColorPicker.git
